@import "utilities/_variables";

#subjects {
    padding: 1em;

    * {
        color: $darkblue;
    }

    .table {
        .toolbar {
            display: flex;
            justify-content: space-between;

            .col-1 {
                display: flex;
                align-items: center;

                .add-subject-btn {
                    margin-left: 2em;
                }

                .title {
                    font-size: 16pt;
                }

                .subject-select {
                    width: 250px;
                    margin-left: 2em;
                }
            }

            .search {
                width: 300px !important;
            }
        }

        .row {
            .role {
                font-family: "Roboto Bold";
                margin-right: 1em;
                color: $white !important;
                padding: 1px;
                border-radius: 3px;
                text-align: center;
                display: inline-block;
                width: 30px !important;

                &.admin {
                    background-color: $darkblue;
                }

                &.student {
                    background-color: $darkgreen;
                }
                
                &.teacher {
                    background-color: $orange;
                }
            }

            .entry-count {
                cursor: pointer;
            }
        }
    }

    .new-subject-dialog {
        width: 600px !important;
    }
}
