@import "utilities/_variables";

#home {
    position: relative;

    .function {
        align-items: center;
        background-color: $darkblue;
        display: flex;
        height: 60px;
        left: 200px;
        position: absolute;
        right: 0;
        top: 0;
        justify-content: space-between;

        .funda {
            color: $lightblue;
            font-size: 16pt;
            text-transform: uppercase;
            font-family: "Roboto Slab Bold";
            margin-left: 2em;
        }

        .breadcrumbs {
            margin-left: 4em;
            user-select: none;
            .crumb {
                cursor: pointer;
            }

            .current-crumb {
                color: $green;
            }
        }

        .search {
            margin-left: 4em;
            width: 300px;
        }

        .date {
            margin-left: 4em;
        }

        .welcome {
            margin-left: 4em;
            color: $green;
        }
    }

    .navigation {
        background-color: $lightblue;
        top: 0;
        left: 0;
        bottom: 0;
        width: 200px;
        position: absolute;
    }
}
