$blue: #0297c4;

$darkblue: #001d26;

$green: #a0ca16;
$darkgreen: #65b300;

$lightblue: #65c4e0;
$lightblue_hover: #44b7da;
$lightblue_active: #30a4c7;

$orange: #ed4d1d;
$orange_hover: #dd4010;
$orange_active: #c73306;

$transparent_white: #def1f717;
$white: #def1f7;
$grey: #def1f760;
