$blue: #0297C4;

$darkblue: #001D26;

$green: #A0CA16;

$lightblue: #65C4E0;
$lightblue_hover: #44b7da;
$lightblue_active: #30a4c7;

$orange: #ED4D1D;
$orange_hover: #dd4010;
$orange_active: #c73306;

$white: #DEF1F7;
$grey: #def1f760;
