#login {
	display: flex;
	align-items: center;
	position: relative;
	height: calc(100vh - 72px - 20px) !important;

	.row {
		.col-1 {
			width: 50%;
		}
		.col-2 {
			width: 50%;
			.card {
				position: absolute;
				background-color: #001d26;
				width: 300px;
				left: calc(33% / 2);
				padding: 0 !important;
		
				.md-card-header + .md-card-content {
					padding-top: 0 !important;
				}
		
				&.login-card {
					.card-header {
						.card-title {
							font-size: 32pt;
							text-align: center;
							padding: 1em 0;
							color: #ed4d1d;
							font-family: "Roboto Slab Bold", serif;
						}
					}
		
					.card-content {
						a {
							margin-bottom: 20px !important;
						}
					}
		
					.card-actions {
						display: flex;
						flex-direction: column;
		
						.login-btn {
							width: 100%;
						}
		
						.social-btn {
							margin-left: 0;
							width: 100%;
						}
		
						.create-account {
							margin: 20px 0 4px 0;
							text-align: center;
						}
					}
				}
		
				&.sign-up-card {
					.card-header {
						margin-bottom: 30px;
						padding: 0;
		
						.card-title {
							font-size: 32pt;
							text-align: center;
							padding: 1em 0;
							color: #ed4d1d;
							font-family: "Roboto Slab Bold", serif;
						}
					}
		
					.card-content {
						a {
							margin-bottom: 20px !important;
						}
					}
		
					.card-actions {
						display: flex;
						flex-direction: column;
		
						.login-btn {
							width: 100%;
						}
		
						.social-btn {
							margin-left: 0;
							width: 100%;
						}
		
						.create-account {
							margin: 20px 0 4px 0;
							text-align: center;
						}
					}
				}
			}
		}
	}

}
