#login {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
    height: 100vh;

    .login-card-container {
        justify-self: center;

        .login-card {
            background-color: $white;
            width: 300px;
            padding: 0 !important;

            .md-card-header + .md-card-content {
                padding-top: 0 !important;
            }

            &.login-card {
                .card-header {
                    .card-title {
                        font-size: 32pt;
                        text-align: center;
                        padding: 1em 0;
                        color: #ed4d1d;
                        font-family: "Roboto Slab Bold", serif;
                    }
                }

                .card-content {
                    .remember-me, .md-checkbox {
                        margin: 0 !important;
                    }
                }

                .card-actions {
                    padding: 0 16px 16px !important;
                    display: flex;
                    flex-direction: column;

                    .login-btn {
                        width: 100%;
                    }

                    .forgot-pass {
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    .funda-container {
        justify-self: center;
        background-color: $darkblue;
        height: 200px;
        width: 600px;
        border-radius: 15px;
        display: grid;
        place-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: 70px;
            width: 70px;
            transform: skew(45deg);
            left: -15px;
            top: 0;
            background-color: $darkblue;
        }

        .funda {
            color: $white;
            font-family: "Roboto Slab Black";
            font-size: 100pt;
            text-transform: uppercase;
            user-select: none;
            z-index: 1;
        }

        .answer-container {
            background-color: $green;
            border-radius: 15px;
            bottom: -70px;
            display: grid;
            height: 100px;
            place-items: center;
            position: absolute;
            right: -25px;
            text-transform: uppercase;
            user-select: none;
            width: 200px;

            .answer {
                color: $darkblue;
                font-family: "Roboto Slab Black";
                font-size: 60pt;
                z-index: 1;
            }

            &::after {
                background-color: $green;
                content: "";
                height: 25px;
                position: absolute;
                right: -13px;
                top: 0;
                transform: skew(-45deg);
                width: 50px;
                z-index: 0;
            }
        }
    }

    .footer {
        bottom: 0;
        display: flex;
        left: 0;
        position: absolute;
        right: 0;

        .bar {
            height: 20px;
            width: calc(100% / 6);

            &.bar-rich-black {
                background-color: #001d26;
            }
            &.bar-flame {
                background-color: #ed4d1d;
            }
            &.bar-blue-green {
                background-color: #0297c4;
            }
            &.bar-sky-blue {
                background-color: #65c4e0;
            }
            &.bar-azure-x {
                background-color: #def1f7;
            }
            &.bar-android-green {
                background-color: #a0ca16;
            }
        }
    }
}
